<html>
{% load static %}
<link rel="stylesheet" href="{% static 'food/bootstrap5.min.css' %}"/>
<link rel="stylesheet" href="{% static 'food/style.css' %}"/>
<body>
<nav class="d-flex bg-dark justify-content-center  align-items-center" style="height: 50px">
    <div class="d-flex justify-content-between col-md-8">
        <div class="pe-2 text-white">Food App</div>
        <div class="d-flex">
            <div class="px-2 text-white">Add Item</div>
            <div class="px-2 text-white">Delete Item</div>
            <div class="px-2 text-white">View Item</div>
        </div>
    </div>
</nav>


{% block content %}

{% endblock %}
</body>


</html>